/* Valid for login and sign up forms */
.formDiv{
    text-align: center;
}

.formElement{
    margin:10px;
}

.formElement>.formElementLabel{
    display: inline-block;
    width: 150px;
    /* padding-left: 5px; */
    /* padding-right:5px; */
    margin-left:5px;
    margin-right:5px;
}

.formElement>.formElementInput{
    display:inline-block;
    margin-left:5px;
    margin-right:5px
}

/* search form */
.searchForm{
    display:flex;
    margin-left: 0;
}


/* for add comment form  */
/* .AddCommentFormDiv{

} */

.addCommentFormDiv>.addCommentFormLabel{
    visibility: hidden;
}

.addCommentFormInput>input{
    width: 100%;
}

.addCommentFormButtons{
    margin-top: 5px;
    text-align: right;
}

.resetNewCommentButton{
    background-color: #555;
    border-color:#555;
    margin-right:5px
}

.addNewCommentButton{
    background-color: #fbc349;
    border-color:#fbc349;
    margin-left:5px;
}